In [5]:
#Lecture fichier salaires et apercu

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
#Imports des données sources
entreprise = pd.read_csv('../data/base_etablissement_par_tranche_effectif.csv') 
print("####################   ENTREPRISE   #####################")
display(entreprise.head())

salary = pd.read_csv('../data/net_salary_per_town_categories_update2021.csv',sep=';')
print("####################   SALARY   #####################")
display(salary.head())

name_geographic = pd.read_csv('../data/name_geographic_information.csv') 
print("####################   GEOGRAPHIE   #####################")
display(name_geographic.head())

population = pd.read_csv('../data/population.csv', dtype={'CODGEO': object} )
print("####################   POPULATION   #####################")
display(population.head())

####################   ENTREPRISE   #####################

,CODGEO,LIBGEO,REG,DEP,E14TST,E14TS0ND,E14TS1,E14TS6,E14TS10,E14TS20,E14TS50,E14TS100,E14TS200,E14TS500
0,01001,L'Abergement-Clémenciat,82,01,25,22,1,2,0,0,0,0,0,0
1,01002,L'Abergement-de-Varey,82,01,10,9,1,0,0,0,0,0,0,0
2,01004,Ambérieu-en-Bugey,82,01,996,577,272,63,46,24,9,3,2,0
3,01005,Ambérieux-en-Dombes,82,01,99,73,20,3,1,2,0,0,0,0
4,01006,Ambléon,82,01,4,4,0,0,0,0,0,0,0,0

####################   SALARY   #####################

,CODGEO,SNHM20,SNHMC20,SNHMP20,SNHME20,SNHMO20,SNHMF20,SNHMFC20,SNHMFP20,SNHMFE20,...,SNHMHO20,SNHM1820,SNHM2620,SNHM5020,SNHMF1820,SNHMF2620,SNHMF5020,SNHMH1820,SNHMH2620,SNHMH5020
0,1004,15.013132,25.221939,16.950395,11.259209,11.772666,13.043695,21.806580,14.368130,11.045518,...,12.095672,10.880315,15.072711,17.255747,10.291297,13.234401,14.192028,11.286232,16.130620,19.226540
1,1007,15.261333,24.391671,16.179052,11.917058,12.520221,13.855898,21.532587,15.160246,11.951341,...,12.881610,10.544073,15.263487,16.961952,10.618428,14.034526,14.418987,10.487221,16.229187,19.324302
2,1014,14.578709,27.940065,16.384056,12.175141,11.848787,12.570863,20.702968,13.198429,12.152977,...,12.304387,11.058325,14.116861,16.528222,10.295307,12.226430,13.932078,11.623660,15.517659,18.409024
3,1024,14.658174,23.817275,16.319296,11.905547,12.127913,13.053780,20.157674,14.923592,11.414435,...,12.525517,10.498073,14.627982,16.404495,10.031113,13.268833,13.691905,10.812016,15.505663,18.422798
4,1025,14.952910,25.822076,15.365464,11.663794,12.400297,13.444614,22.271103,14.233353,11.410936,...,12.666390,10.385396,14.750372,16.854860,10.309374,13.513608,14.336143,10.442608,15.580433,18.421533

####################   GEOGRAPHIE   #####################

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,numéro_circonscription,nom_commune,codes_postaux,code_insee,latitude,longitude,éloignement
0,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Attignat,01340,1024,46.283333,5.166667,1.21
1,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Beaupont,01270,1029,46.400000,5.266667,1.91
2,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bény,01370,1038,46.333333,5.283333,1.51
3,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Béreyziat,01340,1040,46.366667,5.05,1.71
4,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bohas-Meyriat-Rignat,01250,1245,46.133333,5.4,1.01

####################   POPULATION   #####################

  NIVGEO CODGEO                   LIBGEO  MOCO  AGEQ80_17  SEXE  NB
0    COM  01001  L'Abergement-Clémenciat    11          0     1  15
1    COM  01001  L'Abergement-Clémenciat    11          0     2  15
2    COM  01001  L'Abergement-Clémenciat    11          5     1  20
3    COM  01001  L'Abergement-Clémenciat    11          5     2  20
4    COM  01001  L'Abergement-Clémenciat    11         10     1  20

In [24]:
#Imports des données additionnelles (DatasGouv)
df_GPS = pd.read_csv('../data/Datas Gouv/2022_Coordonnées GPS_Villes - (Sources DataGouv).csv',sep=';') 
print("####################   df_GPS   #####################")
display(df_GPS.head())

df_Pref = pd.read_csv('../data/Datas Gouv/Prefectures-code-insee-code-postal.csv',sep=';') 
print("####################  Préfectures   #####################")
display(df_Pref.head())

df_entreprises24_All = pd.read_csv('../data/Datas Gouv/2024-TD_FLORES2021_NA05_TREF_NBETAB - (SourcesDatasGouv).csv',sep=';') 
print("####################   df_entreprises24_All   #####################")
display(df_entreprises24_All.head())

####################   df_GPS   #####################

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
0,25620,ville du pont,25650,ville du pont,46.999873,6.498147,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
1,25624,villers grelot,25640,villers grelot,47.361512,6.235167,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
2,25615,villars les blamont,25310,villars les blamont,47.368384,6.871415,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
3,25619,les villedieu,25240,les villedieu,46.713906,6.265831,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
4,25622,villers buzon,25170,villers buzon,47.228558,5.852187,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté

####################  Préfectures   #####################

,Code INSEE,Code Postal,Commune,Département,Région,Statut,Altitude Moyenne,Superficie,Population,geo_point_2d,geo_shape,ID Geofla,Code Commune,Code Canton,Code Arrondissement,Code Département,Code Région
0,93008,93000,BOBIGNY,['SEINE-SAINT-DENIS'],['ILE-DE-FRANCE'],['Préfecture'],48.0,674.0,48.5,"48.907688243955754, 2.438639827268387","{""coordinates"": [[[2.4277240402745033, 48.8958...",12799,8,7,1,93,11
1,38185,38000/38100,GRENOBLE,['ISERE'],['RHONE-ALPES'],['Préfecture'],219.0,1856.0,155.6,"45.18212151669413, 5.72133051752004","{""coordinates"": [[[5.743019769913857, 45.16637...",34851,185,98,1,38,82
2,26362,26000,VALENCE,['DROME'],['RHONE-ALPES'],['Préfecture'],147.0,3679.0,64.4,"44.92298116672111, 4.914440131356541","{""coordinates"": [[[4.910451290734176, 44.88971...",25890,362,98,3,26,82
3,95500,95000/95300,PONTOISE,"[""VAL-D'OISE""]",['ILE-DE-FRANCE'],['Préfecture'],51.0,725.0,29.8,"49.0513737852941, 2.094879289475321","{""coordinates"": [[[2.090658278412783, 49.02396...",14851,500,19,3,95,11
4,37261,37000/37100/37200,TOURS,['INDRE-ET-LOIRE'],['CENTRE'],['Préfecture'],71.0,3335.0,135.2,"47.39863822805878, 0.6965263764166111","{""coordinates"": [[[0.70463034849439, 47.350180...",33494,261,99,2,37,24

####################   df_entreprises24_All   #####################

C:\Users\Caroline\AppData\Local\Temp\ipykernel_16460\878386597.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_entreprises24_All = pd.read_csv('../data/Datas Gouv/2024-TD_FLORES2021_NA05_TREF_NBETAB - (SourcesDatasGouv).csv',sep=';')

,CODGEO,ET_TOT,ET_AZ,ET_BE,ET_FZ,ET_GU,ET_OQ,ET_TOT_0sal,ET_AZ_0sal,ET_BE_0sal,...,ET_BE_200_499,ET_FZ_200_499,ET_GU_200_499,ET_OQ_200_499,ET_TOT_500P,ET_AZ_500P,ET_BE_500P,ET_FZ_500P,ET_GU_500P,ET_OQ_500P
0,01001,15,4,0,3,6,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,01002,4,1,0,0,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,01004,610,1,33,68,422,86,39,0,2,...,0,0,0,2,0,0,0,0,0,0
3,01005,45,1,4,10,23,7,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01006,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
###################################################   ETABLISSEMENTS  #############################################

In [9]:

#Filtrer les établissements Industriels uniquement depuis Fichier Update DataGouv - Utilisation de Drop
#ne garder que les colonnes Industrie c'est à dire qui commence par  ET_BE selon fichier Méta correspondant
df_entreprises24=df_entreprises24_All.drop(
    ['ET_TOT','ET_AZ','ET_FZ','ET_GU','ET_OQ','ET_TOT_0sal','ET_AZ_0sal','ET_FZ_0sal','ET_GU_0sal','ET_OQ_0sal','ET_TOT_1_4','ET_AZ_1_4','ET_FZ_1_4','ET_GU_1_4','ET_OQ_1_4','ET_TOT_5_9','ET_AZ_5_9','ET_FZ_5_9','ET_GU_5_9','ET_OQ_5_9','ET_TOT_10_19','ET_AZ_10_19','ET_FZ_10_19','ET_GU_10_19','ET_OQ_10_19','ET_TOT_20_49','ET_AZ_20_49','ET_FZ_20_49','ET_GU_20_49','ET_OQ_20_49','ET_TOT_50_99','ET_AZ_50_99','ET_FZ_50_99','ET_GU_50_99','ET_OQ_50_99','ET_TOT_100_199','ET_AZ_100_199','ET_FZ_100_199','ET_GU_100_199','ET_OQ_100_199','ET_TOT_200_499','ET_AZ_200_499','ET_FZ_200_499','ET_GU_200_499','ET_OQ_200_499','ET_TOT_500P','ET_AZ_500P','ET_FZ_500P','ET_GU_500P','ET_OQ_500P']
    ,axis=1)
print("####################   df_entreprises24   #####################")
display(df_entreprises24.head())

####################   df_entreprises24   #####################

,CODGEO,ET_BE,ET_BE_0sal,ET_BE_1_4,ET_BE_5_9,ET_BE_10_19,ET_BE_20_49,ET_BE_50_99,ET_BE_100_199,ET_BE_200_499,ET_BE_500P
0,01001,0,0,0,0,0,0,0,0,0,0
1,01002,0,0,0,0,0,0,0,0,0,0
2,01004,33,2,8,6,12,3,2,0,0,0
3,01005,4,0,1,1,2,0,0,0,0,0
4,01006,0,0,0,0,0,0,0,0,0,0

In [10]:
#Regroupements par tailles d'entreprises
df_entreprises24['||'] = '||'
df_entreprises24['Total_Salaries'] = df_entreprises24['ET_BE']
df_entreprises24['nb_auto_entrepreneur'] = df_entreprises24['ET_BE_0sal']
df_entreprises24['nb_micro_entreprises'] = df_entreprises24['ET_BE_1_4'] + df_entreprises24['ET_BE_5_9']
df_entreprises24['nb_small_entreprises'] = df_entreprises24['ET_BE_10_19'] + df_entreprises24['ET_BE_20_49']
df_entreprises24['nb_medium_entreprises'] = df_entreprises24['ET_BE_50_99'] + df_entreprises24['ET_BE_100_199']
df_entreprises24['nb_large_entreprises'] = df_entreprises24['ET_BE_200_499'] + df_entreprises24['ET_BE_500P']

print("####################   df_entreprises24 - groupby   #####################")
display(df_entreprises24.head())

####################   df_entreprises24 - groupby   #####################

,CODGEO,ET_BE,ET_BE_0sal,ET_BE_1_4,ET_BE_5_9,ET_BE_10_19,ET_BE_20_49,ET_BE_50_99,ET_BE_100_199,ET_BE_200_499,ET_BE_500P,||,Total_Salaries,nb_auto_entrepreneur,nb_micro_entreprises,nb_small_entreprises,nb_medium_entreprises,nb_large_entreprises
0,01001,0,0,0,0,0,0,0,0,0,0,||,0,0,0,0,0,0
1,01002,0,0,0,0,0,0,0,0,0,0,||,0,0,0,0,0,0
2,01004,33,2,8,6,12,3,2,0,0,0,||,33,2,14,15,2,0
3,01005,4,0,1,1,2,0,0,0,0,0,||,4,0,2,2,0,0
4,01006,0,0,0,0,0,0,0,0,0,0,||,0,0,0,0,0,0

In [11]:
###################################################   GEOGRAPHIE  #############################################

In [12]:
#Commune : Code Commune, Code postal, Nom Commune complet, Longitude, Latitude, éloignement chef lieu
#Département : Code Département,  Nom Département
#Région : Code Région, Nom Région, CP chef lieu, nom chef lieu, latitude Chef lieu, longitude Chef lieu

In [47]:
df_Pref_final=df_Pref.merge(df_GPS,left_on='Code INSEE',right_on='insee_code')
display(df_Pref_final.head())


df_Pref_final=df_Pref_final.drop(columns=['geo_point_2d', 'geo_shape', 'ID Geofla', 'Code Canton', 'insee_code','Statut',
       'city_code', 'zip_code', 'label']
    )

,Code INSEE,Code Postal,Commune,Département,Région,Statut,Altitude Moyenne,Superficie,Population,geo_point_2d,...,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
0,93008,93000,BOBIGNY,['SEINE-SAINT-DENIS'],['ILE-DE-FRANCE'],['Préfecture'],48.0,674.0,48.5,"48.907688243955754, 2.438639827268387",...,93008,bobigny,93000,bobigny,48.907436,2.439843,seine-saint-denis,93,île-de-france,Île-de-France
1,38185,38000/38100,GRENOBLE,['ISERE'],['RHONE-ALPES'],['Préfecture'],219.0,1856.0,155.6,"45.18212151669413, 5.72133051752004",...,38185,grenoble,38000,grenoble,45.182206,5.721221,isère,38,auvergne-rhône-alpes,Auvergne-Rhône-Alpes
2,38185,38000/38100,GRENOBLE,['ISERE'],['RHONE-ALPES'],['Préfecture'],219.0,1856.0,155.6,"45.18212151669413, 5.72133051752004",...,38185,grenoble,38100,grenoble,45.182206,5.721221,isère,38,auvergne-rhône-alpes,Auvergne-Rhône-Alpes
3,26362,26000,VALENCE,['DROME'],['RHONE-ALPES'],['Préfecture'],147.0,3679.0,64.4,"44.92298116672111, 4.914440131356541",...,26362,valence,26000,valence,44.922561,4.913646,drôme,26,auvergne-rhône-alpes,Auvergne-Rhône-Alpes
4,95500,95000/95300,PONTOISE,"[""VAL-D'OISE""]",['ILE-DE-FRANCE'],['Préfecture'],51.0,725.0,29.8,"49.0513737852941, 2.094879289475321",...,95500,pontoise,95300,pontoise,49.051578,2.094574,val-d'oise,95,île-de-france,Île-de-France

In [48]:
display(df_Pref_final.head())

,Code INSEE,Code Postal,Commune,Département,Région,Altitude Moyenne,Superficie,Population,Code Commune,Code Arrondissement,Code Département,Code Région,latitude,longitude,department_name,department_number,region_name,region_geojson_name
0,93008,93000,BOBIGNY,['SEINE-SAINT-DENIS'],['ILE-DE-FRANCE'],48.0,674.0,48.5,8,1,93,11,48.907436,2.439843,seine-saint-denis,93,île-de-france,Île-de-France
1,38185,38000/38100,GRENOBLE,['ISERE'],['RHONE-ALPES'],219.0,1856.0,155.6,185,1,38,82,45.182206,5.721221,isère,38,auvergne-rhône-alpes,Auvergne-Rhône-Alpes
2,38185,38000/38100,GRENOBLE,['ISERE'],['RHONE-ALPES'],219.0,1856.0,155.6,185,1,38,82,45.182206,5.721221,isère,38,auvergne-rhône-alpes,Auvergne-Rhône-Alpes
3,26362,26000,VALENCE,['DROME'],['RHONE-ALPES'],147.0,3679.0,64.4,362,3,26,82,44.922561,4.913646,drôme,26,auvergne-rhône-alpes,Auvergne-Rhône-Alpes
4,95500,95000/95300,PONTOISE,"[""VAL-D'OISE""]",['ILE-DE-FRANCE'],51.0,725.0,29.8,500,3,95,11,49.051578,2.094574,val-d'oise,95,île-de-france,Île-de-France

In [51]:
df_geo_temp=name_geographic.drop(
    ['EU_circo','code_région','nom_région','chef.lieu_région','numéro_département','codes_postaux','nom_département','préfecture','numéro_circonscription','nom_commune','code_insee','latitude','longitude','éloignement']
    ,axis=1)
print("####################   df_geo_final   #####################")
display(df_geo_temp.head())

####################   df_geo_final   #####################

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [64]:
df_geo_final=name_geographic.merge(df_Pref_final,left_on='numéro_département',right_on='Code Département')

display(df_geo_final.head())
df_geo_final.columns

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,numéro_circonscription,nom_commune,codes_postaux,...,Code Commune,Code Arrondissement,Code Département,Code Région,latitude_y,longitude_y,department_name,department_number,region_name,region_geojson_name
0,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,1,Barbaggio,20253,...,33,2,2B,94,42.686421,9.425134,haute-corse,2B,corse,Corse
1,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,1,Barbaggio,20253,...,33,2,2B,94,42.686421,9.425134,haute-corse,2B,corse,Corse
2,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,1,Barbaggio,20253,...,33,2,2B,94,42.686421,9.425134,haute-corse,2B,corse,Corse
3,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,1,Barrettali,20228,...,33,2,2B,94,42.686421,9.425134,haute-corse,2B,corse,Corse
4,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,1,Barrettali,20228,...,33,2,2B,94,42.686421,9.425134,haute-corse,2B,corse,Corse

Index(['EU_circo', 'code_région', 'nom_région', 'chef.lieu_région',
       'numéro_département', 'nom_département', 'préfecture',
       'numéro_circonscription', 'nom_commune', 'codes_postaux', 'code_insee',
       'latitude_x', 'longitude_x', 'éloignement', 'Code INSEE', 'Code Postal',
       'Commune', 'Département', 'Région', 'Altitude Moyenne', 'Superficie',
       'Population', 'Code Commune', 'Code Arrondissement', 'Code Département',
       'Code Région', 'latitude_y', 'longitude_y', 'department_name',
       'department_number', 'region_name', 'region_geojson_name'],
      dtype='object')

In [65]:
df_geo_final=df_geo_final.drop(
    [  'numéro_circonscription', 'éloignement','department_name',
       'department_number', 'region_name', 'region_geojson_name','Code Département','Région','Code Région','Code Postal','Commune', 'Département']
    ,axis=1)

In [67]:
display(df_geo_final.head())

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,nom_commune,codes_postaux,code_insee,latitude_x,longitude_x,Code INSEE,Altitude Moyenne,Superficie,Population,Code Commune,Code Arrondissement,latitude_y,longitude_y
0,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,Barbaggio,20253,20029,NaN,NaN,2B033,260.0,1977.0,43.5,33,2,42.686421,9.425134
1,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,Barbaggio,20253,20029,NaN,NaN,2B033,260.0,1977.0,43.5,33,2,42.686421,9.425134
2,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,Barbaggio,20253,20029,NaN,NaN,2B033,260.0,1977.0,43.5,33,2,42.686421,9.425134
3,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,Barrettali,20228,20030,NaN,NaN,2B033,260.0,1977.0,43.5,33,2,42.686421,9.425134
4,Sud-Est,94,Corse,Ajaccio,2B,Haute-Corse,Bastia,Barrettali,20228,20030,NaN,NaN,2B033,260.0,1977.0,43.5,33,2,42.686421,9.425134

In [69]:
df_geo_final.columns

Index(['EU_circo', 'code_région', 'nom_région', 'chef.lieu_région',
       'numéro_département', 'nom_département', 'préfecture', 'nom_commune',
       'codes_postaux', 'code_insee', 'latitude_x', 'longitude_x',
       'Code INSEE', 'Altitude Moyenne', 'Superficie', 'Population',
       'Code Commune', 'Code Arrondissement', 'latitude_y', 'longitude_y'],
      dtype='object')

In [13]:
#Etape 1 : df_communes avec les infos principales

#Réorganisation Infos Communes / Départements / Préfectures / Régions / Chef-Lieux / Calcul Eloignements
#Base

df_geo_final['COM_code_insee'] = df_geo_final['code_insee']
df_geo_final['COM_code_postal'] = df_geo_final['codes_postaux']
df_geo_final['COM_nom'] = df_geo_final['nom_commune']
df_geo_final['COM_latitude'] = df_geo_final['latitude_x']
df_geo_final['COM_longitude'] = df_geo_final['longitude_x']

df_geo_final['DEPT'] = '||'

df_geo_final['DEPT_code'] = df_geo_final['numéro_département']
df_geo_final['DEPT_nom'] = df_geo_final['nom_département']
df_geo_final['DEPT_Pref'] = df_geo_final['préfecture']

df_geo_final['REG'] = '||'

df_geo_final['REG_code'] = df_geo_final['code_région']
df_geo_final['REG_nom'] = df_geo_final['nom_région']
df_geo_final['REG_Zone'] = df_geo_final['EU_circo']
df_geo_final['REG_ChefLieu'] = df_geo_final['chef.lieu_région']  

df_geo_final['PREF_DEPT'] = '||'

df_geo_final['PREF_DEPT_nom'] = df_geo_final['préfecture']
df_geo_final['PREF_DEPT_code_insee'] = df_geo_final['Code INSEE'] # à récupérer parce qu'on n'a pas encore trouvé 
df_geo_final['PREF_DEPT_latitude'] = df_geo_final['latitude_y'] #récupérer latitude préfecture via le CodePostal
df_geo_final['PREF_DEPT_longitude'] = df_geo_final['longitude_y'] #récupérer Longitude préfecture via le CodePostal

df_geo_final['PREF_REG'] = '||'

df_geo_final['PREF_REG_nom'] = df_geo_final['préfecture']
df_geo_final['PREF_REG_code_insee'] = df_geo_final['Code INSEE'] #récupérer Code Postal préfecture depuis XXXXXX
df_geo_final['PREF_REG_latitude'] = df_geo_final['latitude_y'] #récupérer latitude préfecture via le CodePostal
df_geo_final['PREF_REG_longitude'] = df_geo_final['longitude_y'] #récupérer Longitude préfecture via le CodePostal

df_geo_final['DIST'] = '||'

df_geo_final['DIST_COM_PREF_REG'] = df_geo_final['éloignement'] #calcul eloignement à faire
df_geo_final['DIST_COM_PREF_DEPT'] = df_geo_final['éloignement'] #calcul eloignement à faire
df_geo_final['DIST_COM_PARIS'] = df_geo_final['éloignement'] #calcul eloignement à faire

display(df_geo_final.head())

#Fonction calcul éloignement

####################   df_geo_final   #####################

,COM_code_insee,COM_code_postal,COM_nom,COM_latitude,COM_longitude,DEPT,DEPT_code,DEPT_nom,REG,REG_code,REG_nom,REG_Zone,CL,CHEFLIEU_nom,CHEFLIEU_codepostal,CHEFLIEU_latitude,CHEFLIEU_longitude,DIST,DIST_COM_PREF,DIST_COM_CHEFLIEU
0,1024,01340,Attignat,46.283333,5.166667,||,01,Ain,||,82,Rhône-Alpes,Sud-Est,||,Lyon,Lyon,46.283333,5.166667,||,1.21,1.21
1,1029,01270,Beaupont,46.400000,5.266667,||,01,Ain,||,82,Rhône-Alpes,Sud-Est,||,Lyon,Lyon,46.400000,5.266667,||,1.91,1.91
2,1038,01370,Bény,46.333333,5.283333,||,01,Ain,||,82,Rhône-Alpes,Sud-Est,||,Lyon,Lyon,46.333333,5.283333,||,1.51,1.51
3,1040,01340,Béreyziat,46.366667,5.05,||,01,Ain,||,82,Rhône-Alpes,Sud-Est,||,Lyon,Lyon,46.366667,5.05,||,1.71,1.71
4,1245,01250,Bohas-Meyriat-Rignat,46.133333,5.4,||,01,Ain,||,82,Rhône-Alpes,Sud-Est,||,Lyon,Lyon,46.133333,5.4,||,1.01,1.01

In [22]:
df_depts_cheflieux['CHEFLIEU'] = df_depts_cheflieux['CHEFLIEU'].astype(str)
df_GPS['zip_code'] = df_GPS['zip_code'].astype(str)

df_CL=df_depts_cheflieux.merge(df_GPS,left_on='CHEFLIEU',right_on='zip_code')
df_CL=df_CL.drop(
    ['REG','TNCC','NCC','NCCENR','LIBELLE','city_code','label','region_geojson_name']
    ,axis=1)
display(df_CL.head())

,DEP,CHEFLIEU,insee_code,zip_code,latitude,longitude,department_name,department_number,region_name
0,17,17300,17463,17300,45.973589,-0.986480,charente-maritime,17,nouvelle-aquitaine
1,17,17300,17299,17300,45.942884,-0.972199,charente-maritime,17,nouvelle-aquitaine
2,39,39300,39210,39300,46.760836,5.942851,jura,39,bourgogne-franche-comté
3,39,39300,39292,39300,46.751119,5.976164,jura,39,bourgogne-franche-comté
4,39,39300,39356,39300,46.705140,5.791866,jura,39,bourgogne-franche-comté

In [15]:
#FONCTION CALCUL DISTANCE ENTRE 2 VILLES A PARTIR DES COORDONNEES GPS
#variables = (latitude1, longitude1, latitude2, longitude2, unit = 'miles' ou 'km')

In [16]:
from numpy import sin, cos, arccos, pi, round 
def rad2deg(radians): 
    degrees = radians * 180 / pi 
    return degrees 

def deg2rad(degrees): 
    radians = degrees * pi / 180 
    return radians 

def getDistanceBetweenPointsNew(latitude1, longitude1, latitude2, longitude2, unit = 'km'): 
    theta = longitude1 - longitude2 
    distance = 60 * 1.1515 * rad2deg( 
        arccos( 
            (sin(deg2rad(latitude1)) * sin(deg2rad(latitude2))) + 
            (cos(deg2rad(latitude1)) * cos(deg2rad(latitude2)) * cos(deg2rad(theta))) 
        ) 
    ) 
    
    if unit == 'miles': 
        return round(distance, 2) 
    if unit == 'km': 
        return round(distance * 1.609344, 2)

In [ ]:
# Define the desired column order
desired_column_order = [
    ‘code_insee’, ‘nom_commune’, ‘codes_postaux’, ‘numéro_département’, ‘nom_département’,
    ‘préfecture’, ‘numéro_circonscription’, ‘EU_circo’, ‘code_région’, ‘nom_région’,
    ‘chef.lieu_région’, ‘latitude’, ‘longitude’, ‘éloignement’
]
# Reordering the columns
df_name_geographic = df_name_geographic[desired_column_order]