In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
population = pd.read_csv('data/population.csv')
population.head()

/var/folders/m4/rl8q4_8s3531vrprrghc32pm0000gn/T/ipykernel_28981/3478613717.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  population = pd.read_csv('data/population.csv')

  NIVGEO CODGEO                   LIBGEO  MOCO  AGEQ80_17  SEXE  NB
0    COM   1001  L'Abergement-Clémenciat    11          0     1  15
1    COM   1001  L'Abergement-Clémenciat    11          0     2  15
2    COM   1001  L'Abergement-Clémenciat    11          5     1  20
3    COM   1001  L'Abergement-Clémenciat    11          5     2  20
4    COM   1001  L'Abergement-Clémenciat    11         10     1  20

In [4]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8536584 entries, 0 to 8536583
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   NIVGEO     object
 1   CODGEO     object
 2   LIBGEO     object
 3   MOCO       int64
 4   AGEQ80_17  int64
 5   SEXE       int64
 6   NB         int64
dtypes: int64(4), object(3)
memory usage: 455.9+ MB

In [10]:
population.CODGEO.astype('str')

0           1001
1           1001
2           1001
3           1001
4           1001
           ...
8536579    97424
8536580    97424
8536581    97424
8536582    97424
8536583    97424
Name: CODGEO, Length: 8536584, dtype: object

In [11]:
# DF summary with info about amount of unique and missing values and a type of the column of the dataframe

def summary(df):
    tab = pd.DataFrame(index = df.columns, columns = ['nb_unique_values','nb_missing_values','type'])
    tab.loc[:,'nb_unique_values'] = df.nunique().values
    tab.loc[:,'nb_missing_values'] = df.isna().sum().values
    tab.loc[:, 'type'] = df.dtypes.values
    return tab

summary(population)

          nb_unique_values nb_missing_values    type
NIVGEO                   1                 0  object
CODGEO               35870                 0  object
LIBGEO               33452                 0  object
MOCO                     7                 0   int64
AGEQ80_17               17                 0   int64
SEXE                     2                 0   int64
NB                    2953                 0   int64

In [9]:
salary = pd.read_csv('data/net_salary_per_town_categories.csv')
salary.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data/net_salary_per_town_categories.csv'